# This is Git's per-user configuration file.
[user]
	name = rafaelnakayama
	email = rafaelnakayama2003@gmail.com
# Please adapt and uncomment the following lines:
#	name = Rafael Nakayama
#	email = rafaelnakayama2003@gmail.com
